@import '../global/variables.scss';

.suit_black {
  color: $black;

  :global([data-color-scheme='dark']) & {
    color: $blue;
  }
}

.suit_red {
  color: $red;

  :global([data-color-scheme='dark']) & {
    color: $pink;
  }
}

.game_page {
  padding: 0 5vw;
  position: relative;

  @media only screen and (min-width: 768px) {
    padding: 0 10vw;
  }

  .info_row {
    margin-bottom: 6vw;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .game_info {
        margin: 0;
        padding: 0;
        font-family: $font-bold;
        font-size: 2.8vw;

        @media only screen and (min-width: 768px) {
          font-size: 1.2vw;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      margin-bottom: 2vw;
    }

    .game_stats {
      display: flex;
      flex-direction: column;
      gap: 0.5vw;

      @media only screen and (min-width: 768px) {
        gap: 0.3vw;
      }
    }

    .stat {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      line-height: 1.1;
    }

    .stat_label {
      font-family: $font-bold;
      font-size: 2vw;
      opacity: 0.6;

      @media only screen and (min-width: 768px) {
        font-size: 0.85vw;
      }
    }

    .stat_value {
      font-family: $font-bold;
      font-size: 3vw;

      @media only screen and (min-width: 768px) {
        font-size: 1.2vw;
      }
    }

    .lead_trump_container {
      align-items: center;
      justify-content: flex-start;

      span {
        font-size: 3.5vw;
        line-height: 0.8;
      }
    }
  }
  .countdown {
    position: fixed;
    left: 0;
    right: 0;
    top: 10%;
    opacity: 1;
    z-index: 100000;
    transform: scale(1);
    pointer-events: none;

    div {
      animation: yoyo 1s infinite ease-in-out;
      text-align: center;
      font-size: 30vw;
      pointer-events: none;

      @media only screen and (min-width: 768px) {
        font-size: 10vw;
      }
    }

    @keyframes yoyo {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(3);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}
